.App {
  text-align: center;
}

.display-screen {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.pixel {
  border: 1px solid black;
  height: 3px;
  width: 3px;
}